<!DOCTYPE html>
<html lang="en" dir="ltr">


<!-- Mirrored from themes.pixelstrap.com/fastkart/back-end/category.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 04 Sep 2023 05:49:46 GMT -->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="Fastkart admin is super flexible, powerful, clean &amp; modern responsive bootstrap 5 admin template with unlimited possibilities.">
    <meta name="keywords"
        content="admin template, Fastkart admin template, dashboard template, flat admin template, responsive admin template, web app">
    <meta name="author" content="pixelstrap">
    <link rel="icon" href="/assetss/images/favicon.png" type="image/x-icon">
    <link rel="shortcut icon" href="/assetss/images/favicon.png" type="image/x-icon">
    <title>Urban Charms - All Category</title>
    <!-- Google font-->
    <link
        href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
        rel="stylesheet">

    <!-- Fontawesome css -->
    <link rel="stylesheet" type="text/css" href="/assetss/css/vendors/font-awesome.css">

    <!-- Linear Icon css -->
    <link rel="stylesheet" href="/assetss/css/linearicon.css">

    <!-- remixicon css -->
    <link rel="stylesheet" type="text/css" href="/assetss/css/remixicon.css">

    <!-- Data Table css -->
    <link rel="stylesheet" type="text/css" href="/assetss/css/datatables.css">

    <!-- Themify icon css-->
    <link rel="stylesheet" type="text/css" href="/assetss/css/vendors/themify.css">

    <!-- Feather icon css -->
    <link rel="stylesheet" type="text/css" href="/assetss/css/vendors/feather-icon.css">

    <!-- Plugins css -->
    <link rel="stylesheet" type="text/css" href="/assetss/css/vendors/scrollbar.css">
    <link rel="stylesheet" type="text/css" href="/assetss/css/vendors/animate.css">

    <!-- Bootstrap css -->
    <link rel="stylesheet" type="text/css" href="/assetss/css/vendors/bootstrap.css">

    <!-- App css -->
    <link rel="stylesheet" type="text/css" href="/assetss/css/style.css">
    <style>
        /* Modified CSS styles for black and white combo and circular design */
        .pagination {
            display: flex;
            justify-content: center;
            list-style: none;
            padding: 10px;
            margin-top: 20px;
        }
    
        .pagination a {
            color: black;
            background-color: white;
            border: 1px solid black; /* Set the border color to black */
            border-radius: 40%; /* Make it circular */
            text-align: center;
            width: 30px; /* Set a fixed width for circular shape */
            height: 30px; /* Set a fixed height for circular shape */
            line-height: 30px; /* Center text vertically */
            text-decoration: none;
            transition: background-color 0.3s, color 0.3s;
            display: inline-block;
            margin: 0 5px;
            font-weight: bold; /* Ensure visibility of text */
        }
    
        .pagination a.active {
            background-color: black;
            color: white;
            border-color: #000;
        }
    
        /* Styles for Prev and Next buttons */
        .pagination a.prev,
        .pagination a.next {
            background-color: white;
            color: black;
            border-color: black;
            border-radius: 30%; /* Make it circular */
            width: 50px; /* Set a fixed width for circular shape */
            height: 30px; /* Set a fixed height for circular shape */
        }
    
        .pagination a.prev:hover,
        .pagination a.next:hover {
            background-color: black;
            color: #fff;
            border-color: black;
        }
    </style>
</head>

<body>
    <!-- tap on top start -->
    <div class="tap-top">
        <span class="lnr lnr-chevron-up"></span>
    </div>
    <!-- tap on tap end -->

    <!-- page-wrapper Start-->
    <div class="page-wrapper compact-wrapper" id="pageWrapper">
        <!-- Page Header Start-->
        <%- include('../partials/header.ejs')%>
        <!-- Page Header Ends-->

        <!-- Page Body Start -->
        <div class="page-body-wrapper">
        <!-- sidebar start -->
       
            <%- include('../partials/sidebar.ejs')%>
            <!-- Page Sidebar Ends-->

            <!-- Container-fluid starts-->
            <div class="page-body">
                <!-- All User Table Start -->
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card card-table">
                                <div class="card-body">
                                    <div class="title-header option-title">
                                        <h5>All Category</h5>
                                        <form class="d-inline-flex">
                                            <a href="addcategory" class="align-items-center btn btn-theme d-flex">
                                                <i data-feather="plus-square"></i>Add New
                                            </a>
                                        </form>
                                    </div>

                                    <div class="table-responsive category-table">
                                        <div>
                                            <table class="table table-striped table-hover">
                                                <thead>
                                                    <tr>
                                                        <th>Category Image</th>
                                                        <th>Category Name</th>
                                                        <th>Description</th>
                                                        <th>Actions</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <% categories.forEach((items) => { %>
                                                        <tr>
                                                            <td>
                                                                <img src="<%= items.categoryimage %>" style="width: 50px;">
                                                            </td>
                                                            <td><%= items.name %></td>
                                                            <td style="max-height: 100px; overflow-y: auto;"><%= items.description %></td>
                                                            <td class="d-flex justify-content-sm-between">
                                                                <a href="/admin/editcategory?id=<%=items._id%>">
                                                                    <button class="btn btn-info btn-sm">Edit</button>
                                                                </a>
                                                                <% if(items.islist){ %>
                                                                    <button class="btn btn-danger btn-block" onclick="blockcategory('<%= items._id%>')">Unlist</button>
                                                                <% }else{ %>
                                                                    <button class="btn btn-danger btn-block" onclick="blockcategory('<%= items._id%>')">List</button>
                                                                <% } %>
                                                            </td>
                                                        </tr>
                                                    <% }); %>
                                                    <!-- Add more category rows here -->
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- All User Table Ends-->
                <!-- Pagination Section -->
<div class="container-fluid">
    <div class="pagination" id="pagination">
        <% if (currentPage > 1) { %>
            <a href="/admin/category?page=<%= currentPage - 1 %>" class="prev">Prev</a>
        <% } %>

        <% if (currentPage > 3) { %>
            <a href="/admin/category?page=1">1</a>
            <% if (currentPage > 4) { %>
                <span>...</span>
            <% } %>
        <% } %>

        <% for (let i = Math.max(1, currentPage - 1); i <= Math.min(totalPages, currentPage + 1); i++) { %>
            <a href="/admin/category?page=<%= i %>" class="<%= currentPage === i ? 'active' : '' %>"><%= i %></a>
        <% } %>

        <% if (currentPage < totalPages - 2) { %>
            <% if (currentPage < totalPages - 3) { %>
                <span>...</span>
            <% } %>
        <% } %>

        <% if (currentPage < totalPages) { %>
            <a href="/admin/category?page=<%= currentPage + 1 %>" class="next">Next</a>
        <% } %>
    </div>
</div>


                <div class="container-fluid">
                    <!-- footer start-->
                    <footer class="footer">
                        <div class="row">
                            <div class="col-md-12 footer-copyright text-center">
                                <p class="mb-0">Copyright 2022 © Fastkart theme by pixelstrap</p>
                            </div>
                        </div>
                    </footer>
                    <!-- footer end-->
                </div>
            </div>
            <!-- Container-fluid end -->
        </div>
        <!-- Page Body End -->

        <!-- Modal Start -->
        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
            <div class="modal-dialog  modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-body">
                        <h5 class="modal-title" id="staticBackdropLabel">Logging Out</h5>
                        <p>Are you sure you want to log out?</p>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        <div class="button-box">
                            <button type="button" class="btn btn--no" data-bs-dismiss="modal">No</button>
                           <a href="logout"><button type="button" class="btn  btn--yes btn-primary">Yes</button></a> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal End -->
    </div>

    <!-- Delete Modal Box Start -->
    <div class="modal fade theme-modal remove-coupon" id="exampleModalToggle" aria-hidden="true" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header d-block text-center">
                    <h5 class="modal-title w-100" id="exampleModalLabel22">Are You Sure ?</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        <i class="fas fa-times"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="remove-box">
                        <p>The permission for the use/group, preview is inherited from the object, object will create a
                            new permission for this object</p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-animation btn-md fw-bold" data-bs-dismiss="modal">No</button>
                    <button type="button" class="btn btn-animation btn-md fw-bold" data-bs-target="#exampleModalToggle2"
                        data-bs-toggle="modal" data-bs-dismiss="modal">Yes</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade theme-modal remove-coupon" id="exampleModalToggle2" aria-hidden="true" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-center" id="exampleModalLabel12">Done!</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        <i class="fas fa-times"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="remove-box text-center">
                        <div class="wrapper">
                            <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
                                <circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none" />
                                <path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8" />
                            </svg>
                        </div>
                        <h4 class="text-content">It's Removed.</h4>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Delete Modal Box End -->

    <!-- latest js -->
    <script src="/assetss/js/jquery-3.6.0.min.js"></script>

    <!-- Bootstrap js -->
    <script src="/assetss/js/bootstrap/bootstrap.bundle.min.js"></script>

    <!-- feather icon js -->
    <script src="/assetss/js/icons/feather-icon/feather.min.js"></script>
    <script src="/assetss/js/icons/feather-icon/feather-icon.js"></script>

    <!-- scrollbar simplebar js -->
    <script src="/assetss/js/scrollbar/simplebar.js"></script>
    <script src="/assetss/js/scrollbar/custom.js"></script>

    <!-- customizer js -->
    <script src="/assetss/js/customizer.js"></script>

    <!-- Sidebar js -->
    <script src="/assetss/js/config.js"></script>

    <!-- Plugins JS -->
    <script src="/assetss/js/sidebar-menu.js"></script>
    <script src="/assetss/js/notify/bootstrap-notify.min.js"></script>
    <script src="/assetss/js/notify/index.js"></script>

    <!-- Data table js -->
    <script src="/assetss/js/jquery.dataTables.js"></script>
    <script src="/assetss/js/custom-data-table.js"></script>

    <!-- sidebar effect -->
    <script src="/assetss/js/sidebareffect.js"></script>

    <!-- Theme js -->
    <script src="/assetss/js/script.js"></script>
</body>


<!-- Mirrored from themes.pixelstrap.com/fastkart/back-end/category.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 04 Sep 2023 05:49:46 GMT -->
</html>
<script>

    async function blockcategory(categoryId){
    
    try{
        const response=await fetch(`/admin/blockcategory/${categoryId}`,{
            method:"post",
        })
        if(!response.ok){
            throw new Error(`HTTP error ! status:${response.status}`)
        }
        const result=await response.json();
        console.log(result)
        
    
           window.location.reload(); 
    
    }catch(error){
    console.error('fetch error',error)
    }
    
    }
    
    </script>